---
layout: default
---

<div class="wrapper wrapper-content  animated fadeInRight article">
    <div class="row">
        <div class="col-lg-10 col-lg-offset-1">
            <div class="ibox">
                <div class="ibox-content">
                    <div class="pull-right">
                    	{% for category in page.categories %}
                        	<a class="btn btn-white btn-xs" href="{{ category | downcase | prepend: '/' | prepend: site.baseurl }}">{{ category }}</a>
                        {% endfor %}
                    </div>
                    <div class="text-center article-title">
                    <span class="text-muted"><i class="fa fa-clock-o"></i> {{ page.date | date: "%-d %b %Y" }}</span>
                        <h1>
                            {{ page.title }}
                        </h1>
                    </div>
                    	{{ content }}
                    <hr>
                    <div class="row">
                        <div class="col-md-6">
                                <h5 style="display: inline;">Tags:</h5>
                                {% for tag in page.tags %}
                                    <button class="btn btn-white btn-xs" type="button">{{ tag }}</button>
                                {% endfor %}
                        </div>
                        <div class="col-md-6">
                            <div class="small text-right">
                                <div>
                                {% if site.disqus %}
                                <i class="fa fa-comments-o"> </i> <span class="disqus-comment-count" data-disqus-url="{{ site.url }}{{ page.url }}">0</span> comments
                                {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-lg-12">
                            <!-- donate -->
                            {% if site.donation %}
                            {% include donate.html %}
                            {% endif %}
                            <br>
                            <!-- share -->
                            {% include share.html %}
                            <br>
                            <!-- comment -->
                            {% include comments.html %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<div id="gitmentContainer"></div>
<link rel="stylesheet" href="https://imsun.github.io/gitment/style/default.css">
<script src="https://imsun.github.io/gitment/dist/gitment.browser.js"></script>
<script>
var gitment = new Gitment({
    owner: 'AiDaiP',
    repo: 'AiDaiP.github.io',
    oauth: {
        client_id: '8c74b4cf56364cb2ed57',
        client_secret: '5f9b7e3965be7d2e542e9a18446114860d6ef9ec',
    },
});
gitment.render('gitmentContainer');
</script>